body{
    background-color: antiquewhite;
}
/* Com a junção do relative e absolute os blocos podem formar um layout bastante atrativo, usando os valores com sabedoria*/
.relative{
    width: 300px;
    height: 200px;
    border: 1px solid blue;
    margin-top: 200px;
    position: relative;
}

.absolute-1, .absolute-2{
width: 50px;
height: 25px;
background-color: aquamarine;
position: absolute;
}

.absolute-1{
    top: 10px;
    left: 10px;
}
.absolute-2{
    top: 50px;
    left: 50px;
}







