body{
    background-color: antiquewhite;
}
#paragrafo-unico{
    background-color:violet;
    color: black;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.paragraph{
    background-color: yellowgreen;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;

}
p{
    background-color:blue;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}