body{
    padding-bottom: 500px;
}
/* dando espaçamento entre uma div e outra */
div{
    margin-bottom: 10px; 
}
/* colocando os elementos de label e input, um abaixo do outro */
div input,
 div label{
 display: block;
}